body{
    background-image: url("img/tic-tac-toe-g11b62cc1e_1920.jpg");
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
tr {
    width: 399px;
}

td {
    border: 5px solid #f7f7f7;
    height: 133px;
    width: 133px;
}

tr:first-child td {
    border-top: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:first-child {
    border-left: 0;
}

tr td:last-child {
    border-right: 0;
}

.head{
    display: flex;
    flex-direction: row;
}

table {
    border-collapse: collapse;
}

.symbol{
    height: 80px;
    position: absolute;
}

.player{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin-top: 24px;
font-size: 24px;
font-weight: bold;
color: #f7f7f7;
}

.player-symbol{
    height: 80px;
    margin-top: 24px;
    margin-bottom: 100px;
    margin-inline: 48px;
}

.player-text{
    margin-inline: 48px;
}

.symbol-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

td:hover {
    background-color: lightgray;
    cursor: pointer;
}

.d-none {
    display: none;
}

.player-inactive{
    opacity: 0.5;
}

.line{
    background-color: #f7f7f7;
    height: 400px;
    width: 10px;
    position: relative;
}

.rotate90{
    rotate: 90deg;
}

.line1{
    left: 73px;
}

.line2{
    left: 213px;
}

.line3{
    left: 353px;
}

.line4{
    top:-140px;
    left: 210px;
}

.line5{
    top:0px;
    left: -215px;
}

.line6{
    top: 141px;
    left: -225px;
}

.line7{
    top:0px;
    left: -214px;
}

.line8{
    top: 0px;
    left: -214px;
}

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    padding: 48px;
    border-radius: 12px;
    border-color: #f7f7f7;
}

@media (max-width:560px){
    tr {
        width: 299px;
    }
    
    td {
        border: 5px solid black;
        height: 99px;
        width: 99px;
    }
    .line{
        height: 280px;
        width: 5px;
        position: relative;
    }

    .line1{
        left: 55px;
    }
    
    .line2{
        left: 160px;
    }
    
    .line3{
        left: 266px;
    }

    .line4{
        top:-107px;
        left: 162px;
    }
    
    .line5{
        top:0px;
        left: -159px;
    }
    
    .line6{
        top: 105px;
        left: -164px;
    }

    .line7{
        top:0px;
        left: -162px;
    }
    
    .line8{
        top: 0px;
        left: -159px;
    }
} 

@media (max-width:440px){
    tr {
        width: 229px;
    }
    
    td {
        border: 5px solid black;
        height: 69px;
        width: 69px;
    }
    .line{
        width: 5px;
        height: 220px;
        position: relative;
    }

    .line1{
        left: 39px;
    }
    
    .line2{
        left: 115px;
    }
    
    .line3{
        left: 191px;
    }

    .line4{
        top:-77px;
        left: 116px;
    }
    
    .line5{
        top:0px;
        left: -114px;
    }
    
    .line6{
        top: 77px;
        left: -114px;
    }

    .line7{
        top:0px;
        left: -114px;
    }
    
    .line8{
        top: 0px;
        left: -115px;
    }

    .player-symbol{
        height: 40px;
        margin-top: 12px;
        margin-bottom: 80px;
        margin-inline: 12px;
    }
    
    .player-text{
        margin-inline: 12px;
    }

    .symbol {
        height: 50px;
    }

    .game-container{
        margin: 12px;
    }
}

@media (max-width:350px){
    .line1{
        left: 32px;
    }
    
    .line2{
        left: 98px;
    }
    
    .line3{
        left: 186px;
    }

    .line4{
        top:-77px;
        left: 116px;
    }
    
    .line5{
        top:0px;
        left: -114px;
    }
    
    .line6{
        top: 77px;
        left: -114px;
    }

    .line7{
        top:0px;
        left: -114px;
    }
    
    .line8{
        top: 0px;
        left: -115px;
    }
    
    .player-text{
        margin-inline: 12px;
    }

    .symbol {
        height: 50px;
    }

    .game-container{
        margin: 12px;
    }
}

@media (max-width:300px){
    tr {
        width: 229px;
    }
    
    td {
        border: 5px solid black;
        height: 69px;
        width: 69px;
    }
    .line{
        width: 5px;
        height: 220px;
        position: relative;
    }

    .line1{
        left: 26px;
    }
    
    .line2{
        left: 78px;
    }
    
    .line3{
        left: 130px;
    }

    .line4{
        top:-77px;
        left: 74px;
    }
    
    .line5{
        top:0px;
        left: -75px;
    }
    
    .line6{
        top: 77px;
        left: -74px;
    }

    .line7{
        top:0px;
        left: -77px;
        rotate: 34deg;
    }

    .line8{
        top: 0px;
        left: -75px;
        rotate: 145deg;
    }
    
    .player-text{
        margin-inline: 12px;
    }

    .symbol {
        height: 40px;
    }
}